# Node modules
/my-app/node_modules/
/server/node_modules/
/websocket/node_modules/

# Environment variable files
/my-app/.env
/server/.env
/websocket/.env

# Virtual environment and general .env files
myenv/
*.env
