@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Centered container */
.main-container-in-2 {
  display: flex;
  width: 1000px; /* Width for the main container */
  height: 500px;
  overflow: hidden;
  margin: auto;
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.15);
  background-color: #f7f8fc;
}
/* Right section to display the image */
.right-section {
  flex: 1.15;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove padding around the image */
  box-sizing: border-box;
}

/* Ensures image fills the right section */
.right-section img {
  width: 100%; /* Full width for the image */
  height: 100%; /* Full height to fill the section */
  object-fit: cover; /* Cover the section while maintaining aspect ratio */
  border-radius: 0px; /* Optional: keeps corners rounded */
}
/* Left section for the sign-up form */
.left-section-signin,
.sign-in-up-container {
  flex: 0.85;
  background-color: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 25px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
  border: 1px solid #F7F9FA;
}

/* Title styling */
.sign-in-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  padding: 10px;
  color:#111141
}

/* Additional styling for scattered icons */
.decorative-icon {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  z-index: 3;
}


.sign-in-btn ,.sign-up-btn {
  text-align: center;
  width: 240px;
  height: 40px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(13, 41, 58) ;
  border: 1px solid #e5e5e5;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.sign-in-btn:hover,.sign-up-btn:hover {
  background-color: rgb(60, 86, 128);
}


.sign-in-up-page-container {
  overflow: auto;
  width: 100%;
  height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  background-image: linear-gradient(135deg, #b0b7be 0%, #8fa1ac 50%, #78878e 100%); 
}

.switch-sign-up {
  font-size: 0.95em; /* Increased font size */
  font-weight: bold; /* Make it bold */
  text-align: center;
  color: rgb(22, 54, 77);
  cursor: pointer;
  margin-top: 15px;
  transition: color 0.3s ease, background 0.3s ease; /* Added background transition */
  padding: 10px; /* Added padding for better spacing */
  border-radius: 5px; /* Rounded corners for a softer look */
}

.switch-sign-up:hover {
  color:blue;
  text-decoration: underline;
  background: rgba(255, 255, 255, 0.2); /* Subtle background change on hover */
}
.sign-in-up-format-fail {
  border-color: #E02828 !important;
}

.sign-in-up-format-success {
  border-color: #23D959 !important;
}

.sign-in-up-fail-message {
  color: #E02828;
  margin-bottom: 10px;
  font-size: 12px;
  width: 240px;
  text-align: left;
}

.non-vis {
  visibility: hidden;
}

.error-message {
  background-color: rgba(248, 103, 103, 0.2);
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

.btn-not-allowed {
  color: black !important;
  background-color: #A0A0A0 !important;
  cursor: not-allowed !important;
}

.sign-in-up-loading {
  width: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.btn-and-loading-container {
  position: relative;
}

.sign-in-password-input-container {
  position: relative;
}

.sign-up-password-input-container {
  position: relative;
}

.sign-in-up-PW-img {
  width: 15px;
  position: absolute;
  top: 16px;
  right: 10px;
  cursor: pointer;
}

.sign-in-error-container, .sign-out-error-container {
  width: 242px;
}

.google-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  filter: drop-shadow(0 0 0.1rem #A0A0A0);
  cursor: pointer;
}

.google-img-container {
  width: 242px;
  height: 40px;
}

.google-auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.google-auth-text {
  color: #38383f;
  font-size: 14px;
}/*# sourceMappingURL=SignInPage.css.map */
.sign-in-btn,.sign-up-btn {
  pointer-events: auto;
  cursor: pointer;
}

.small-gap {
  margin-top: 2px; /* Adjust to set a smaller gap */
  margin-bottom: 2px;
  display: block; /* This makes margin settings effective on <br> */
}